<div>
    <form method="POST" action="/search">
        <input type="text" name="search" id="search-character" placeholder="search for character..." >
        <button type="submit"></button>
    </form>
</div>