<section class="form-section">
    <div>
        <form method="POST" action="/search">
            <div class="orb"></div>
            <input type="text" name="search" id="search-character" placeholder=" search for character..." required >
            <button type="submit" id="search-button" class="btn btnsubmit">&#x1F50D</button>
        </form>
        <div class="form-handle"></div>
    </div>
    
</section>