<div class="character-list-container">
   <h2>searching for...</h2>
   <div id="user-search" class="user-search">
       {{!-- user's search input will go here --}}
   </div>
   <div class="character-list">
        {{!-- character list of search query will append here --}}
   </div>
</div>